[submodule "libft"]
	path = libft
	url = https://github.com/Disaldr/libft.git
[submodule "printf"]
	path = printf
	url = https://github.com/Disaldr/printf.git
[submodule "push_swap"]
	path = push_swap
	url = https://github.com/Disaldr/push_swap.git
[submodule "so_long"]
	path = so_long
	url = https://github.com/Disaldr/so_long.git
[submodule "pipex"]
	path = pipex
	url = https://github.com/Disaldr/pipex.git
